{% extends "base_generic.html" %}
{% load static %}


{% block content %}

{% if profile %}
<div class="container mt-5 ">
    <div class="row d-flex justify-content-between ">
        <div class="col-sm-8 col my-5">
            <div class="card mb-3" style="border-radius: .5rem;">
                <div class="row g-0">
                    <div class="col-md-4  text-center text-white"
                        style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem; background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));">
                        {% if profile.profilePic%}
                        <img src="{{ profile.profilePic.url }}" alt="Avatar" class="img-fluid my-5" />
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body p-4">
                            <h6>Information</h6>
                            <hr class="mt-0 mb-4">
                            <div class="row pt-1">
                                <div class="col-6 mb-3">
                                    <h6>Username</h6>
                                    <p class="text-muted">@{{profile.user.username | capfirst}}</p>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6>Date joined</h6>
                                    <p class="text-muted">{{profile.user.date_joined}}</p>
                                </div>


                            </div>
                            <h6>Biography</h6>
                            <hr class="mt-0 mb-4">
                            <div class="row pt-1">
                                <div class="col-6 mb-3">
                                    <p class="text-muted">{{profile.bio | capfirst}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if user == profile.user or perms.main_app.is_admin %}
            <div class="d-grid gap-2">
                <a href="{% url 'profile-update' profile.id %}"
                    class="btn btn-outline-secondary btn-block mb-1">Edit</a>
            </div>
            {% endif %}
            {% if user == profile.user or perms.main_app.is_admin %}

            <div id="pomodoros">
                <ul class="list-group list-group-numbered my-5">
                    <div class="card card-header text-white bg-dark text-center">
                        {% if user == profile.user %}
                        
                        Your pomodoros
                        {% else %}
                        Pomodoros by {{profile.user.username | capfirst}}
                        {% endif %}
                    </div>

                    {% for pomodoro in pomodorosByUser %}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto ">
                            <a class="stretched-link" href="{{ pomodoro.get_absolute_url }}"></a>
                            <div class="fw-bold ">{{ pomodoro.name | capfirst | truncatechars:24}}</div>
                            <small>{{ pomodoro.tag }}</small>
                        </div>
                        <span class="badge bg-secondary rounded-pill">Time :{{ pomodoro.duration }}</span>
                    </li>

                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="col-12 col-sm-4">
            <div id="posts mb-3">
                <ul class="list-group list-group-numbered my-5">
                    <div class="card card-header text-white bg-dark text-center">
                        {% if user == profile.user %}
                        Your posts
                        {% else %}
                        Posts by {{profile.user.username | capfirst}}
                        {% endif %}
                    </div>

                    {% for post in postsByUser %}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto ">
                            <a class="stretched-link" href="{{ post.get_absolute_url }}"></a>
                            <div class="fw-bold ">{{ post.title | capfirst | truncatechars:24}}</div>
                            <small>Posted {{ post.date_posted }}</small>
                        </div>
                        <span class="badge bg-secondary rounded-pill">{{ post.visits }}</span>
                    </li>

                    {% endfor %}
                </ul>
            </div>


        </div>
    </div>
</div>
{% else %}
<p>ERROR.</p>
{% endif %}


{% endblock %}