{% extends "base_generic.html" %}

{% block content %}
<div class="container mt-5">
  {% if user.is_authenticated %}
  <h1>Delete Tag</h1>

  <p>Are you sure you want to delete the tag: {{ forumtag.name }}?</p>
  
  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" class="btn btn-outline-secondary" action="" value="Yes, delete." />
  </form>
  {% else %}
  <div class="col-12">
      <h2 class="mt-5">You need to be logged in to see this page.</h2>
  {% endif %}
</div>

{% endblock %}